.container {
  width: 55px;
  height: 25px;
  border: 1.5px solid gray;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px;
  position: relative;
  cursor: pointer;
}

.iconMoon {
  background-image: url("/moon.svg");
  display: block;
  background-position: center;
  background-size: 16px;
  height: 16px;
  width: 22px;
  background-repeat: no-repeat;
}
.iconSun {
  background-image: url("/sun.svg");
  display: block;
  background-position: center;
  background-size: 16px;
  height: 16px;
  width: 22px;
  background-repeat: no-repeat;
}

.ball {
  width: 21px;
  height: 21px;
  background-color: #808080;
  border-radius: 50%;
  position: absolute;
}

@media screen and (max-width: 995px) and (min-width: 824px) {
  .container {
    width: 38px;
    height: 20px;
    border-radius: 11px;
    padding: 2px;
  }

  .iconMoon {
    background-size: 13px;
    height: 14px;
    width: 14px;
  }
  .iconSun {
    background-size: 13px;
    height: 14px;
    width: 14px;
  }

  .ball {
    width: 14px;
    height: 14px;
  }
}
